:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

h5,
h6 {
  font-family: var(--default-font-family);
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 24px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.shecodes-logo {
  height: 40px;
}

nav {
  padding: 24px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 16px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

.content-container {
  padding: 40px 80px;
}

.content {
  margin: 32px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 32px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 32px;
}

.btn-branding:hover, .btn-branding-outline:hover {
  text-decoration: none;
}

.btn-links .btn {
  margin: 8px;
}

.project-desciption {
  padding: 64px;
}

.content h1 {
  font-size: 64px;
  line-height: 1.2;
}

a {
  color: var(--branding-color);
  text-decoration: none;
}

a:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

footer .social-links a {
  margin: 16px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  font-size: 20px;
  padding: 12px 18px;
  border-radius: 32px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 32px 120px;
  margin: 40px 0;
  border-radius: 8px;
}

footer .contact-box p {
  margin: 0;
}

footer .email {
  color: #272142;
  font-size: 20px;
}

footer .email:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 40px;
  }

  .hero {
    padding: 80px 24px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }

  .content-container {
    padding: 0;
  }

  footer .contact-box {
    padding: 16px 32px;
  }
}
